<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/img/signup.png" alt="" height="60px" width="60px">
                </div>
                <h1 class="text-center">Login Here !!</h1>
                <form (ngSubmit)="getLogin()">
                <div class="container text-center">
                    <p><mat-form-field appearance="outline" class="full-width">
                        <mat-label>User Name</mat-label>
                        <input [(ngModel)]="user.username" name="username" matInput placeholder="Username" required>
                    </mat-form-field></p>

                    <p><mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input [(ngModel)]="user.password" name="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field></p>
                </div>
                <div class="container text-center">
                    <button type="submit" mat-raised-button color="primary">Login</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>